@charset "utf-8";
// $gray: #4a4a4a;
// $red: #dd2226;
// $border-gray: #ddd;

// レスポンシブブレイクポイント
$tab: 1010px;
$sp: 768px;
$ssp: 499px;
@mixin tab {
@media (max-width: ($tab)) {
    @content;
}
}
@mixin sp {
@media (max-width: ($sp)) {
    @content;
}
}
@mixin ssp {
@media (max-width: ($ssp)) {
    @content;
}
}



